/*resting*/
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 5em;
}
#root {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}
:root {
  --main-color: #ff3c00;
  --hover-color: black;
}
ul,
ol {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}
$ranks: 1, 2, 3, 4, 5, 6;
@each $i in $ranks {
  h#{$i} {
    margin: 0 !important;
  }
}
