%center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  height: 70px;
  .container {
    @extend %center-flex;
    justify-content: space-between !important;
  }
  .logo-container {
    width: fit-content;
    @extend %center-flex;
    img {
      height: 100%;
      -webkit-aspect-ratio: 1/1;
      aspect-ratio: 1/1;
      object-fit: cover;
    }
    .logo-text {
      margin-left: 0.3em;
      font-size: 1.8em;
      height: 100%;
      @extend %center-flex;
      color: var(--main-color);
    }
  }
  #main-nav {
    @extend %center-flex;
    .nav-list {
      @extend %center-flex;
      .nav-item {
        @extend %center-flex;
        height: 100%;
        margin: {
          right: 0.8em;
          left: 0.8em;
        }
        cursor: pointer;
        .nav-link {
          @extend %center-flex;
          height: 100%;
          width: 100%;
          color: var(--main-color);
          font-size: 1.4em;
          font-weight: 600;
          position: relative;
          transition: color 0.2s linear;
        }
        .nav-link::before {
          content: "";
          position: absolute;
          width: 0;
          height: 2px;
          background-color: var(--main-color);
          bottom: 25%;
          left: 0;
          transition: width 0.1s linear, color 0.2s linear;
        }
        [aria-current="page"]::before {
          transition: width 0.2s linear 0.1s, color 0.2s linear;
          width: 100%;
        }
        .nav-link:hover {
          color: var(--hover-color);
          &::before {
            background-color: var(--hover-color);
          }
        }
      }
    }
  }
}
