%center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  height: 70px;
  .container {
    @extend %center-flex;
    justify-content: space-between !important;
    position: relative;
  }
  .logo-container {
    width: fit-content;
    @extend %center-flex;
    img {
      height: 100%;
      -webkit-aspect-ratio: 1/1;
      aspect-ratio: 1/1;
      object-fit: cover;
    }
    .logo-text {
      margin-left: 0.3em;
      font-size: 1.8em;
      height: 100%;
      @extend %center-flex;
      color: var(--main-color);
    }
  }
  #main-nav {
    @extend %center-flex;
    .nav-list {
      @extend %center-flex;
      .nav-item {
        @extend %center-flex;
        height: 100%;
        margin: {
          right: 0.8em;
          left: 0.8em;
        }
        cursor: pointer;
        .nav-link {
          @extend %center-flex;
          height: 100%;
          width: 100%;
          color: var(--main-color);
          font-size: 1.4em;
          font-weight: 600;
          position: relative;
          transition: color 0.2s linear;
        }
        .nav-link::before {
          content: "";
          position: absolute;
          width: 0;
          height: 2px;
          background-color: var(--main-color);
          bottom: 25%;
          left: 0;
          transition: width 0.1s linear, color 0.2s linear;
        }
        [aria-current="page"]::before {
          transition: width 0.2s linear 0.1s, color 0.2s linear;
          width: 100%;
        }
        .nav-link:hover {
          color: var(--hover-color);
          &::before {
            background-color: var(--hover-color);
          }
        }
      }
    }
  }
  #hamburger-btn {
    border: none;
    -webkit-aspect-ratio: 1/1;
    aspect-ratio: 1/1;
    height: 100%;
    padding: 0;
    position: relative;
    background-color: transparent;
    outline-color: transparent;
    > .mid-layer {
      position: absolute;
      display: block;
      height: 2px;
      top: 50%;
      transform: translateY(-50%);
      width: 50%;
      background-color: var(--bs-gray);
      left: 25%;
      border-radius: 0.5em;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      height: 2px;
      width: 50%;
      background-color: var(--bs-gray);
      left: 25%;
      border-radius: 0.5em;
    }
    &::before {
      top: calc(var(--hamburger-gap));
    }
    &::after {
      bottom: calc(var(--hamburger-gap));
    }
    &[aria-checked="true"] {
      > .mid-layer {
        transition: opacity 0s linear 0.2s;
        opacity: 0;
      }
      &::after,
      &::before {
        transition: transform 0.2s linear 0.4s, top 0.2s linear,
          bottom 0.2s linear;
      }
      &::before {
        transform: rotate(45deg) translateY(-0%);
        transform-origin: center center;
        top: 50%;
      }
      &::after {
        transform: rotate(-45deg) translateY(-0%);
        transform-origin: center center;
        bottom: 50%;
      }
    }
  }
  #phone-nav {
    position: absolute;
    visibility: hidden;
  }
}
