.main-container {
  @media (min-width: 1400px) {
    margin: 0 auto 0 5em !important;
  }
}
main {
  height: calc(100vh - 70px);
  padding-top: 16em;
  position: relative;
  h1 {
    font-size: 3em;
    -webkit-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -o-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, var(--main-color), orange);
    line-height: 1.5;
  }
  p {
    display: block;
  }
  p.p1 {
    line-height: 2;
    word-spacing: 2.5px;
    width: fit-content;
  }
  p.p2 {
    color: rgba($color: #fff, $alpha: 0.7);
    width: 100%;
    @media (min-width: 768px) {
      width: 70%;
    }
  }
  z-index: 9;
}
